@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 @import url(font-awesome.min.css);



 body {
    font-family: 'poppins', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    
}
.abs{
    background: #141012;
    padding: 15px 0px;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}
.contant{
text-align: center;
width: 100%;
}

.titre_our  h2{
    font-size: 40px;
    color: #141012;
    margin-top: 50px;    

}
.description p{
    color: #141012;
    font-size: 17px;
    line-height:49px;
}

.btn{
    width: 100%;
}
.contant .btn {
    text-align: center;
}

body {
    font-family: 'poppins', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
.ALL{
    display: flex;
    flex-direction: column;
    gap: 199px;
    padding: 7%;
}

.events{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.events img {
    width: 650px;
    height: 400px;
}
.events .eventDiscription{
    background-color: #b32137;
    width: 650px;
    height: 400px;
    text-align: center;
}

.events .eventDiscription .descriptionHeader{
    margin-top: 15%;
    color: whitesmoke;
}
.events .eventDiscription .descriptionPar{
    margin-top: 3%;
    color: whitesmoke;
}

@media screen and (max-width:1300px){
    .ALL{
      
        align-items: center;
    }
    .events{
     
        flex-direction: column;
        
    }
}

@media screen and (max-width:750px){
    .events img {
        width: 453px;
    height: 349px;
    }
    .events .eventDiscription{
       
        width: 453px;
        height: 349px;
    }

}

@media screen and (max-width:400px){
    .events img {
        width: 258px;
    height: 349px;
    }
    .events .eventDiscription{
       
        width: 258px;
        height: 349px;
    }

}